 
    <div class="row d-flex ">
        <div class="col-lg-9 border-line">
            <div class="">
                <div class="">
                  <div class="">
                    <div class="card mt-3 tab-card">
                      <div class="card-header tab-card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Airthmetic</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Reasoning</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">English</a>
                          </li>
                        </ul>
                      </div>
              
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                          <h5 class="card-title">Tab Card One</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                          <h5 class="card-title">Tab Card Two</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
                        <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                          <h5 class="card-title">Tab Card Three</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
              
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="row px-2 justify-content-left"> <img src="assets/images/student.png" class=" " style="height: 100px;width: 100px;"> <span style="margin:20px">Anil Kumar Ganta  <div>Time Left:1:00</div> </span>
          
            </div>
           <div>
 
            <button type="button" class="btn btn-light">1</button> 
            <button type="button" class="btn btn-light">2</button> 
            <button type="button" class="btn btn-light">3</button> 
            <button type="button" class="btn btn-light">4</button> 
            <button type="button" class="btn btn-light">5</button> 
            <button type="button" class="btn btn-light">6</button> 
            <button type="button" class="btn btn-light">7</button> 
            <button type="button" class="btn btn-light">8</button> 
            <button type="button" class="btn btn-light">9</button> 
            <button type="button" class="btn btn-light">10</button> 
            <button type="button" class="btn btn-light">11</button> 
            <button type="button" class="btn btn-light">12</button> 
            <button type="button" class="btn btn-light">13</button> 
            <button type="button" class="btn btn-light">14</button> 
            <button type="button" class="btn btn-light">15</button> 
            <button type="button" class="btn btn-light">16</button> 
            <button type="button" class="btn btn-light">17</button> 
            <button type="button" class="btn btn-light">18</button> 
            <button type="button" class="btn btn-light">19</button> 
            <button type="button" class="btn btn-light">20</button> 
            <button type="button" class="btn btn-light">21</button> 
            <button type="button" class="btn btn-light">22</button> 
            <button type="button" class="btn btn-light">23</button> 
            <button type="button" class="btn btn-light">24</button> 
            <button type="button" class="btn btn-light">25</button> 
            <button type="button" class="btn btn-light">26</button> 
            <button type="button" class="btn btn-light">27</button> 
            <button type="button" class="btn btn-light">28</button> 
            <button type="button" class="btn btn-light">29</button> 
            <button type="button" class="btn btn-light">30</button> 
            <button type="button" class="btn btn-light">31</button> 
            <button type="button" class="btn btn-light">32</button> 
            <button type="button" class="btn btn-light">33</button> 
            <button type="button" class="btn btn-light">34</button> 
            <button type="button" class="btn btn-light">35</button> 
            <button type="button" class="btn btn-light">36</button> 
            <button type="button" class="btn btn-light">37</button> 
            <button type="button" class="btn btn-light">38</button> 
            <button type="button" class="btn btn-light">39</button> 
            <button type="button" class="btn btn-light">40</button> 
            <button type="button" class="btn btn-light">41</button> 
            <button type="button" class="btn btn-light">42</button> 
            <button type="button" class="btn btn-light">43</button> 
            <button type="button" class="btn btn-light">44</button> 
            <button type="button" class="btn btn-light">45</button> 
            <button type="button" class="btn btn-light">46</button> 
            <button type="button" class="btn btn-light">47</button> 
            <button type="button" class="btn btn-light">48</button> 
            <button type="button" class="btn btn-light">49</button> 
            <button type="button" class="btn btn-light">50</button> 
           </div>
           <div> <button type="button" class="btn btn-danger"></button>  Not Answered  <button type="button" class="btn btn-success"></button> Answered</div>
           <div> <button type="button" class="btn btn-warning"></button>  Review for Next </div>
           <button type="button" class="btn btn-light">Submit</button>
        </div>
        
    </div>
    <div class="row d-flex" >
        <div class="col-lg-9 " style="background: #999;">
           
            <button type="button" class="btn btn-warning reviewclass">Review for Next</button> 
              <button type="button" class="btn btn-success saveclass">Save&Next</button> 
        </div>
        </div>

 
